/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

#chat {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #f8f9fa; /* Add background color */
}

#message-input {
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 70%;
    margin-right: 10px;
}

#message-form {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#message-form button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-left: 10px;
}

.message {
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    max-width: 70%;
    word-wrap: break-word;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.message-container {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    background-color: #ffffff; /* Add background color to message container */
    border-radius: 5px;
    padding: 5px;
}

.user-message {
    background-color: #28a745;
}

.other-message {
    background-color: #dc3545;
}
